
body{
    background-color:lightblue;
}

.title{
    color:#23A2D7;
    text-align: center;
    font-size: 200%;
    background-color:black;
    width:70%;
    margin-left:15%;
    border: 5px blue solid;
    border-radius: 5%;
    font-family: 'Courier New', monospace;
}

.photo{
    height:10%;
    width:10%;
    position:absolute;
    left: 0%;
}

img{
    width:100%;
}

#guitar1{
    text-align:center;
}